@charset "UTF-8";

body, html {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: dungGeunMo;
    src: url("/font/DungGeunMo.ttf") format("truetype");
}

* {
    font-family: dungGeunMo, monospace !important;
    background: white;
    color: black;
}

article {
    display: inline-flex;
}