@charset "UTF-8";

html {
    padding: 0 !important;
    margin: 5rem 0 0 5rem;
    width: 100%;
    background: #37435d;
}

@font-face {
    font-family: dungGeunMo;
    src: url("/font/DungGeunMo.ttf") format("truetype");
}

* {
    font-family: dungGeunMo, monospace !important;
    color: white;
    word-break: break-word;
    box-sizing: border-box;
    max-width: 900px;
    scroll-behavior: smooth;
    transition: all 100ms;
}

@media (max-width: 900px) {
    * {
        max-width: 100% !important;
    }

    html {
        margin: 5rem 0 0 0 !important;
    }
}

a {
    color: aqua;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul > li {
    display: block;
}

blockquote {
    margin-inline-end: 0 !important;

}

blockquote:before {
    content: "-> ";
}