#main-header {
    position: absolute;
    top: 0;
    left: 6rem;
    margin: 0;
    padding: 1rem;
}

#main-header > h1 {
    display: inline-block;
    margin-left: 1rem;
    background: linear-gradient(transparent 70%, white 30%);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-weight: bold;
    font-size: 2rem;
    color: black;
}

#main-nav {
    width: 5rem;
    height: 100%;
    position: fixed;
    background: linear-gradient(270deg, rgba(var(--vigfoot-background-color), 0.9), rgba(var(--vigfoot-background-color), 0.5));
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#main-logo {
    width: 5rem;
    height: 5rem;
    text-align: center;
    font-size: 5rem;
    color: white;
}

#main-nav > * {
    margin: 0 auto;
}

.flex-component-icon {
    margin: 10px;
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-component-icon > * {
    margin: 5px;
}

.flex-component-nav {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#nav-list > li {
    margin: 2rem 0.5rem;
    text-align: center;
}

#nav-list > li > a {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

#nav-list > li > a > img {
    margin: 0 auto;
    display: block;
    width: 32px;
    height: 32px;
}

#nav-list > li > a > p {
    margin: 3px;
}

#main-section {
    padding: 5vw;
}

#main-section > * {
    box-shadow: inset -1px -1px 10px rgba(255, 255, 255, 0.2), inset 1px -1px 10px rgba(255, 255, 255, 0.2), inset -1px 1px 10px rgba(255, 255, 255, 0.2), inset 1px 1px 10px rgba(255, 255, 255, 0.2);
    width: 100%;
    border-radius: 5px;
}

#main-section > article {
    background: rgba(var(--vigfoot-background-color), 0.9);
    font-weight: bold;
    margin: 20px auto;
}

#main-section > section {
    background: rgba(var(--vigfoot-background-color), 1);
    min-height: 30vh;
    animation: width-0-to-100 1s;
}

#summary {
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
}

#icon-wrap {
    padding: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#icon-wrap > * {
    margin: 10px;
    height: fit-content;
    width: fit-content;
}

.width-100 {
    width: 100% !important;
}

.main-popup-background {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    max-width: 100vw;
    width: 100%;
    height: 100%;
}

.main-popup-help {
    width: 100%;
    font-size: 2rem;
    min-height: 2rem;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

#main-popup {
    background: rgba(var(--vigfoot-background-color), 0.9);
    border-radius: 5px;
    border: 1px solid white;
    margin: 1rem auto;
    max-width: 80vw;
    height: 100%;
    max-height: 75vh;
    animation: width-0-to-100 300ms, floating-content-hidden 300ms;
    padding: 1vw;
    overflow: auto;
}

#main-popup * {
    max-width: 100%;
}

#main-popup > fieldset {
    max-width: 100%;
    min-height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
}

#main-popup > fieldset > legend {
    font-weight: bold;
    font-size: 1.5rem;
}

.display-none {
    display: none !important;
    z-index: -1;
}

@media (max-width: 900px) {
    #main-header {
        position: static;
        top: 5rem;
        left: 0;
    }

    #main-header > h1 {
        display: block;
        text-align: center;
    }

    #main-nav {
        width: 100%;
        height: inherit;
        flex-direction: row;
        justify-content: space-between;
    }

    #main-nav > * {
        margin: inherit;
    }

    #nav-list {
        display: flex;
    }

    #nav-list > li {
        margin: auto 0.5rem;
    }

    #icon-wrap {
        margin: 1vw;
    }

    #main-popup {
        max-width: 100% !important;
    }
}

@keyframes width-0-to-100 {
    0% {
        width: 0;
        height: 10px;
    }
    100% {
        width: 99%;
        height: 10px;
    }
}

@keyframes floating-content-hidden {
    0% {
        margin: 40vh auto;
        content-visibility: hidden;
    }
    100% {
        margin: 40vh auto;
        content-visibility: hidden;
    }
}