<div style="text-align:center;">
    <a href="/img/career/경력증명서.jpg" target="_blank">
        <img src="/img/career/경력증명서.jpg" alt="career" style="width: 50%;">
    </a>
</div>
<section>
    <h3>
        <b>주식회사 에스위너스</b>
        <p>2021.05 ~ 2024.05 <b>3년 1개월</b></p>
    </h3>
    <div>
        <span>백엔드/서버개발</span>
        <span>기업부설 연구소 대리/팀장 3년차</span>
    </div>
    <div>
        <p> - eyecargo reefer 프로젝트 참여 </p>
        <p> - mvc패턴 웹에 대한 sql 쿼리 최적화 </p>
        <p> - 수신 받은 Reefer컨테이너의 IoT데이터에 대한 송수신 API 모듈 개발 </p>
        <p> - 컨테이너의 상태를 나타내는 무브먼트 서비스 개발 </p>
        <p> - 컨테이너의 비정상 작동(온도, 컨트롤러 에러)에 대한 smtp 알림 기능 개발 </p>
        <p> - 남성해운 화주서비스 개발 </p>
        <p> (임베딩 방식, SPA, 관련기사
            <a target="_blank" href="//www.ksg.co.kr/news/main_newsView.jsp?pNum=139626">
                www.ksg.co.kr/news/main_newsView.jsp?pNum=139626
            </a>)
        </p>
        <p> - 현대상선 화주서비스 개발 </p>
    </div>
</section>